.Banner {
  margin-top: -36px;
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    margin-top: calc(-20 * (100vw / var(--width-pc-origin)));
    padding: 0;
  }

  .Banner__inner {
    @media screen and (min-width: 768px) {
      position: relative;
      width: calc(1020 * (100vw / var(--width-pc-origin)));
      margin: 0 auto;
      padding: 0 calc(20 * (100vw / var(--width-pc-origin))) 0
        calc(78 * (100vw / var(--width-pc-origin)));
      text-align: center;
    }

    img {
      width: 100%;
      height: auto;

      @media screen and (min-width: 768px) {
        width: auto;
        height: calc(276 * (100vw / var(--width-pc-origin)));
      }
    }
  }
}
