.Blog {
  padding: 55px 20px 50px;
  background-color: var(--color-pacific-gray-b);

  @media screen and (min-width: 768px) {
    padding: 0;
  }

  .Blog__inner {
    @media screen and (min-width: 768px) {
      width: calc(1020 * (100vw / var(--width-pc-origin)));
      margin: 0 auto;
      padding: calc(80 * (100vw / var(--width-pc-origin)))
        calc(70 * (100vw / var(--width-pc-origin)))
        calc(121 * (100vw / var(--width-pc-origin)))
        calc(78 * (100vw / var(--width-pc-origin)));
    }
  }

  .Blog__title {
    .Blog__titleText {
      margin-bottom: 12px;
      font-size: 42px;
      font-weight: 700;
      line-height: 1.4;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(10 * (100vw / var(--width-pc-origin)));
        font-size: calc(64 * (100vw / var(--width-pc-origin)));
      }
    }

    .Blog__subTitle {
      margin-bottom: 16px;
      font-size: 28px;
      font-weight: 700;
      line-height: 1;
      color: var(--color-blk);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(20 * (100vw / var(--width-pc-origin)));
        font-size: calc(28 * (100vw / var(--width-pc-origin)));
      }
    }
  }

  .Blog__summary {
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    color: var(--color-blk);

    @media screen and (min-width: 768px) {
      margin-bottom: calc(64 * (100vw / var(--width-pc-origin)));
      font-size: calc(20 * (100vw / var(--width-pc-origin)));
    }
  }

  .Blog__contents {
    margin-bottom: 3px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: calc(33 * (100vw / var(--width-pc-origin)));
    }
  }

  .Blog__column {
    display: flex;
    color: var(--color-blk);
    margin-bottom: 16px;

    &:hover,
    &:focus-visible {
      opacity: 0.6;
      text-decoration: none;
    }

    @media screen and (min-width: 768px) {
      flex-direction: column;
      margin-bottom: 0;
    }

    .Blog__columnItem {
      &:last-child {
        flex-grow: 1;
        margin-left: 12px;
      }

      time {
        font-size: 12px;

        @media screen and (min-width: 768px) {
          margin-bottom: calc(6 * (100vw / var(--width-pc-origin)));
          font-size: calc(12 * (100vw / var(--width-pc-origin)));
        }
      }

      img:hover {
        opacity: 1;
      }

      p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        font-size: 14px;

        @media screen and (min-width: 768px) {
          font-size: calc(14 * (100vw / var(--width-pc-origin)));
        }
      }
    }
  }

  .Blog__columnItemImage {
    overflow: hidden;
    border-radius: 12px 12px 0 12px;
    background-color: #d9d9d9;
    object-fit: cover;

    @media screen and (min-width: 768px) {
      width: 100%;
      height: calc(153 * (100vw / var(--width-pc-origin)));
      margin-bottom: calc(11 * (100vw / var(--width-pc-origin)));
    }
  }

  .Blog__more {
    display: flex;
    justify-content: center;
    width: 100%;

    @media screen and (min-width: 768px) {
      justify-content: flex-end;
    }

    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 231px;
      height: 44px;
      border: 1px solid var(--color-blk);
      border-radius: 100px;
      font-size: 14px;
      font-weight: 700;
      color: var(--color-blk);

      @media screen and (min-width: 768px) {
        width: calc(231 * (100vw / var(--width-pc-origin)));
        height: calc(44 * (100vw / var(--width-pc-origin)));
        font-size: calc(14 * (100vw / var(--width-pc-origin)));
      }
    }
  }
}
