.Class {
  .Class__inner {
    position: relative;
    padding: 108px 20px 15px;

    @media screen and (min-width: 768px) {
      width: calc(1020 * (100vw / var(--width-pc-origin)));
      margin: 0 auto;
      padding: 0 calc(20 * (100vw / var(--width-pc-origin)))
        calc(55 * (100vw / var(--width-pc-origin)))
        calc(78 * (100vw / var(--width-pc-origin)));
    }
  }

  .Class__title {
    .Class__titleText {
      margin-bottom: 12px;
      font-size: 42px;
      font-weight: 700;
      line-height: 1.4;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(10 * (100vw / var(--width-pc-origin)));
        font-size: calc(64 * (100vw / var(--width-pc-origin)));
      }
    }

    .Class__subTitle {
      margin-bottom: 16px;
      font-size: 28px;
      font-weight: 700;
      line-height: 1;
      color: var(--color-blk);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(20 * (100vw / var(--width-pc-origin)));
        font-size: calc(28 * (100vw / var(--width-pc-origin)));
      }
    }
  }

  .Class__summary {
    margin-bottom: 37px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    color: var(--color-blk);

    @media screen and (min-width: 768px) {
      margin-bottom: calc(64 * (100vw / var(--width-pc-origin)));
      font-size: calc(20 * (100vw / var(--width-pc-origin)));
    }
  }

  .Class__stamp {
    position: absolute;
    top: 32px;
    right: 23px;
    width: 175px;
    height: 90px;

    @media screen and (min-width: 768px) {
      top: calc(6 * (100vw / var(--width-pc-origin)));
      right: calc(43 * (100vw / var(--width-pc-origin)));
      width: calc(422 * (100vw / var(--width-pc-origin)));
      height: calc(185 * (100vw / var(--width-pc-origin)));
    }

    img {
      width: 100%;
      object-fit: contain;

      @media screen and (min-width: 768px) {
        width: calc(422 * (100vw / var(--width-pc-origin)));
        height: calc(185 * (100vw / var(--width-pc-origin)));
      }
    }
  }

  .Class__navigation {
    margin-bottom: 36px;

    .Class__navigationList ul {
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        gap: calc(20 * (100vw / var(--width-pc-origin)));
      }
    }

    .Class__navigationItem {
      margin-bottom: 12px;

      @media screen and (min-width: 768px) {
        width: 100%;
      }

      & a {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 86px;
        padding: 0 27px;
        border: 2px solid var(--color-primary);
        border-radius: 16px;

        @media screen and (min-width: 768px) {
          height: calc(106 * (100vw / var(--width-pc-origin)));
        }
      }

      .Class__navigationItemTitle {
        margin-bottom: 2px;
        font-size: 20px;
        font-weight: 700;
        color: var(--color-primary);
        line-height: 1.4;

        @media screen and (min-width: 768px) {
          margin-bottom: calc(2 * (100vw / var(--width-pc-origin)));
          font-size: calc(24 * (100vw / var(--width-pc-origin)));
        }
      }

      .Class__navigationItemSubText {
        font-size: 16px;
        font-weight: 500;
        color: var(--color-blk);
        line-height: 1.4;

        @media screen and (min-width: 768px) {
          font-size: calc(16 * (100vw / var(--width-pc-origin)));
        }
      }

      .Class__navigationItemIcon {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 16px 0 13px 0;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        background-color: var(--color-primary);
      }
    }
  }

  .Class__item {
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: calc(40 * (100vw / var(--width-pc-origin)));
      margin-bottom: calc(36 * (100vw / var(--width-pc-origin)));
    }

    .Class__itemImage {
      width: 100%;
      height: 234px;
      margin-bottom: 16px;
      border-radius: 16px;
      object-fit: cover;

      @media screen and (min-width: 768px) {
        width: calc(441 * (100vw / var(--width-pc-origin)));
        height: calc(315 * (100vw / var(--width-pc-origin)));
        margin-bottom: 0;
      }
    }

    .Class__itemTag {
      display: inline-flex;
      align-items: center;
      margin-bottom: 14px;
      padding: 3px 8px;
      border: 1px solid var(--color-primary);
      border-radius: 30px;
      font-size: 14px;
      font-weight: 700;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(16 * (100vw / var(--width-pc-origin)));
        font-size: calc(14 * (100vw / var(--width-pc-origin)));
      }
    }

    .Class__itemTitle {
      margin-bottom: 16px;
      font-size: 28px;
      font-weight: 700;
      line-height: 1.2;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(10 * (100vw / var(--width-pc-origin)));
        font-size: calc(28 * (100vw / var(--width-pc-origin)));
      }
    }

    .Class__itemSubText {
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.8;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(6 * (100vw / var(--width-pc-origin)));
        font-size: calc(18 * (100vw / var(--width-pc-origin)));
      }
    }

    .Class__itemSummary {
      margin-bottom: 16px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.8;
      color: var(--color-blk);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(24 * (100vw / var(--width-pc-origin)));
        font-size: calc(14 * (100vw / var(--width-pc-origin)));
      }
    }

    .Class__itemMore {
      & a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 61px;
        padding: 0 28px;
        border-radius: 16px;
        font-size: 16px;
        font-weight: 700;
        color: var(--color-wht);
        background-color: var(--color-primary);

        @media screen and (min-width: 768px) {
          width: calc(294 * (100vw / var(--width-pc-origin)));
          height: calc(61 * (100vw / var(--width-pc-origin)));
          font-size: calc(16 * (100vw / var(--width-pc-origin)));
        }
      }

      .Class__itemMoreIcon {
        rotate: -90deg;

        img {
          width: calc(19 * (100vw / var(--width-pc-origin)));
          height: calc(19 * (100vw / var(--width-pc-origin)));
        }
      }
    }
  }
}
