.EnrollmentBanner {
  display: none;
  width: calc(1020 * (100vw / var(--width-pc-origin)));
  margin: 0 auto;
  padding: 0 calc(70 * (100vw / var(--width-pc-origin)))
    calc(120 * (100vw / var(--width-pc-origin)))
    calc(78 * (100vw / var(--width-pc-origin)));

  @media screen and (min-width: 768px) {
    display: block;
  }

  .EnrollmentBanner__inner {
    display: flex;
    align-items: center;
    gap: calc(64 * (100vw / var(--width-pc-origin)));
    padding: calc(35 * (100vw / var(--width-pc-origin)))
      calc(35 * (100vw / var(--width-pc-origin)))
      calc(35 * (100vw / var(--width-pc-origin)))
      calc(64 * (100vw / var(--width-pc-origin)));
    border-radius: calc(16 * (100vw / var(--width-pc-origin)));
    background-color: var(--color-primary);
  }

  .EnrollmentBannerItem {
    &:last-child {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: calc(400 * (100vw / var(--width-pc-origin)));
      border-radius: calc(16 * (100vw / var(--width-pc-origin)));
      background-color: var(--color-wht);
    }

    > a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: calc(46 * (100vw / var(--width-pc-origin)))
        calc(46 * (100vw / var(--width-pc-origin)))
        calc(42 * (100vw / var(--width-pc-origin)));

      &:hover,
      &:focus-visible {
        opacity: 0.6;
        text-decoration: none;
      }
    }
  }

  .EnrollmentBannerItemTitle {
    margin-bottom: calc(16 * (100vw / var(--width-pc-origin)));
    font-size: calc(26 * (100vw / var(--width-pc-origin)));
    font-weight: bold;
    color: var(--color-wht);
  }

  .EnrollmentBannerItemSummary {
    font-size: calc(12 * (100vw / var(--width-pc-origin)));
    color: var(--color-wht);
    line-height: 1.8;
  }
}

.EnrollmentBannerExperienceTitle {
  position: relative;
  margin-bottom: calc(12 * (100vw / var(--width-pc-origin)));
  font-size: calc(20 * (100vw / var(--width-pc-origin)));
  font-weight: bold;
  line-height: 0.8;
  text-indent: calc(36 * (100vw / var(--width-pc-origin)));
  color: var(--color-blk);
  text-align: center;

  .EnrollmentBannerExperienceTitleLarge {
    margin-right: calc(2 * (100vw / var(--width-pc-origin)));
    font-size: calc(36 * (100vw / var(--width-pc-origin)));
    color: var(--color-primary);
  }

  .EnrollmentBannerPin {
    position: absolute;
    display: block;
    top: calc(-28 * (100vw / var(--width-pc-origin)));
    left: calc(-86 * (100vw / var(--width-pc-origin)));
    width: calc(56 * (100vw / var(--width-pc-origin)));
    height: calc(56 * (100vw / var(--width-pc-origin)));

    img {
      width: calc(56 * (100vw / var(--width-pc-origin)));
      height: calc(56 * (100vw / var(--width-pc-origin)));
    }
  }
}

.EnrollmentBannerLine {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(80 * (100vw / var(--width-pc-origin)));
  border-radius: 16px;
  color: var(--color-wht);
  font-weight: bold;
  background-color: #06c755;

  .EnrollmentBannerLineText {
    font-size: calc(24 * (100vw / var(--width-pc-origin)));
  }

  .EnrollmentBannerLineIcon {
    display: inline-block;

    img {
      vertical-align: sub;
      height: calc(42 * (100vw / var(--width-pc-origin)));
    }
  }
}
