.FixedNavigation {
  z-index: 1000;
  display: none;

  @media screen and (min-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: calc(220 * (100vw / var(--width-pc-origin)));
    background-color: var(--color-wht);
  }

  ul,
  li {
    width: 100%;
  }

  .FixedNavigation__item {
    display: block;
    height: 161px;
    border-bottom: 1px solid var(--color-pacific-orange-c);

    @media screen and (min-width: 768px) {
      height: calc(161 * (100vw / var(--width-pc-origin)));
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    &.FixedNavigation__item--logo {
      height: 111px;

      @media screen and (min-width: 768px) {
        height: calc(76 * (100vw / var(--width-pc-origin)));
      }
    }

    &.FixedNavigation__item--experience {
      height: 203px;
      background-color: var(--color-primary);

      @media screen and (min-width: 768px) {
        height: calc(203 * (100vw / var(--width-pc-origin)));
      }

      a {
        color: var(--color-wht);
      }

      .FixedNavigation__itemThumbnail {
        margin-bottom: 0;
      }
    }

    .FixedNavigation__itemBeforeText {
      font-size: calc(18 * (100vw / var(--width-pc-origin)));
      margin-bottom: calc(3 * (100vw / var(--width-pc-origin)));
    }

    .FixedNavigation__itemThumbnail {
      margin-bottom: calc(6 * (100vw / var(--width-pc-origin)));
    }

    .FixedNavigation__itemTitle {
      width: calc(170 * (100vw / var(--width-pc-origin)));
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .FixedNavigation__itemTitleText,
    .FixedNavigation__itemSubTitle {
      font-weight: 700;
      line-height: 1.2;
      color: var(--color-primary);
    }

    .FixedNavigation__itemSubTitle {
      font-size: calc(12 * (100vw / var(--width-pc-origin)));
      margin-bottom: calc(4 * (100vw / var(--width-pc-origin)));
    }

    .FixedNavigation__itemTitleText {
      font-size: calc(16 * (100vw / var(--width-pc-origin)));
    }

    .FixedNavigation__itemExperienceButton {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: calc(54 * (100vw / var(--width-pc-origin)));
      border-radius: 8px;
      font-size: calc(18 * (100vw / var(--width-pc-origin)));
      font-weight: 700;
      color: var(--color-primary);
      background-color: var(--color-wht);
    }
  }
}
