.HelloWorld {
  position: relative;
  width: 100%;
  padding: 45px 20px;
  background-image: url("../images/top/01.webp");
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff4e2e;
    mix-blend-mode: color;
  }

  .HelloWorld__inner {
    position: relative;
    z-index: 1;

    @media screen and (min-width: 768px) {
      width: calc(1020 * (100vw / var(--width-pc-origin)));
      margin: 0 auto;
    }
  }

  .HelloWorld__titleText {
    display: inline-block;
    margin-bottom: 6px;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    color: var(--color-wht);

    @media screen and (min-width: 768px) {
      margin-bottom: calc(16 * (100vw / var(--width-pc-origin)));
      font-size: calc(80 * (100vw / var(--width-pc-origin)));
    }
  }

  .HelloWorld__subTitle {
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-wht);
    line-height: 1.6;

    @media screen and (min-width: 768px) {
      margin-bottom: calc(20 * (100vw / var(--width-pc-origin)));
      font-size: calc(24 * (100vw / var(--width-pc-origin)));
    }

    br {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }
  }

  .HelloWorld__summary {
    margin-bottom: 22px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-wht);
    line-height: 1.8;
  }

  .HelloWorld__info {
    @media screen and (min-width: 768px) {
      display: flex;
      gap: calc(20 * (100vw / var(--width-pc-origin)));
    }
  }

  .HelloWorld__tell,
  .HelloWorld__experience {
    width: 100%;
    height: 160px;
    margin-bottom: 18px;
    border-radius: 16px;
    background-color: var(--color-wht);

    @media screen and (min-width: 768px) {
      height: calc(230 * (100vw / var(--width-pc-origin)));
      margin-bottom: 0;
    }

    & a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    .HelloWorld__tellTitle,
    .HelloWorld__experienceTitle {
      margin-bottom: 6px;
      font-size: 18px;
      font-weight: bold;
      color: #000;
      line-height: 1.2;

      @media screen and (min-width: 768px) {
        margin-bottom: calc(10 * (100vw / var(--width-pc-origin)));
        font-size: calc(20 * (100vw / var(--width-pc-origin)));
      }
    }

    .HelloWorld__tellNumber,
    .HelloWorld__experienceLine {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-bottom: 6px;
    }

    .HelloWorld__tellNumberIcon {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 29px;
      height: 29px;
      border-radius: 50%;
      background-color: var(--color-primary);

      @media screen and (min-width: 768px) {
        width: calc(40 * (100vw / var(--width-pc-origin)));
        height: calc(42 * (100vw / var(--width-pc-origin)));
      }

      img {
        @media screen and (min-width: 768px) {
          height: calc(42 * (100vw / var(--width-pc-origin)));
        }
      }
    }

    .HelloWorld__tellNumberText {
      font-size: 32px;
      font-weight: 700;
      line-height: 1.4;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        font-size: calc(42 * (100vw / var(--width-pc-origin)));
      }
    }

    .HelloWorld__tellTime {
      font-size: 18px;
      font-weight: 500;
      color: #000;

      @media screen and (min-width: 768px) {
        font-size: calc(18 * (100vw / var(--width-pc-origin)));
      }
    }
  }

  .HelloWorld__experience {
    height: 180px;
    padding-top: 8px;
    margin-bottom: 0;

    @media screen and (min-width: 768px) {
      height: calc(230 * (100vw / var(--width-pc-origin)));
      padding-top: calc(17 * (100vw / var(--width-pc-origin)));
    }

    .HelloWorld__experienceTitle {
      position: relative;
      margin-bottom: 8px;
      font-size: 20px;
      text-align: center;
      line-height: 0.9;

      @media screen and (min-width: 768px) {
        margin-bottom: calc(20 * (100vw / var(--width-pc-origin)));
        font-size: calc(20 * (100vw / var(--width-pc-origin)));
      }
    }

    .HelloWorld__experienceTitleLarge {
      margin-right: 2px;
      font-size: 36px;
      font-weight: bold;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        font-size: calc(36 * (100vw / var(--width-pc-origin)));
        margin-right: calc(2 * (100vw / var(--width-pc-origin)));
      }
    }

    .HelloWorld__experienceLine {
      width: calc(100% - 24px * 2);
      height: 57px;
      border-radius: 8px;
      color: var(--color-wht);
      font-weight: bold;
      background-color: #06c755;

      @media screen and (min-width: 768px) {
        width: calc(100% - calc(76 * (100vw / var(--width-pc-origin))) * 2);
        height: calc(80 * (100vw / var(--width-pc-origin)));
        border-radius: 16px;
      }
    }

    .HelloWorld__experienceLineIcon {
      display: inline-block;

      img {
        vertical-align: sub;

        @media screen and (min-width: 768px) {
          height: calc(42 * (100vw / var(--width-pc-origin)));
        }
      }
    }

    .HelloWorld__experienceLineText {
      @media screen and (min-width: 768px) {
        font-size: calc(24 * (100vw / var(--width-pc-origin)));
      }
    }

    .HelloWorld__experiencePin {
      position: absolute;
      top: -18px;
      left: -30px;
      width: 38px;
      height: 38px;
    }
  }
}
