.InstructorList {
  .InstructorList__inner {
    position: relative;
    padding: 41px 20px 60px;

    @media screen and (min-width: 768px) {
      width: calc(1020 * (100vw / var(--width-pc-origin)));
      margin: 0 auto;
      padding: 0 0 calc(100 * (100vw / var(--width-pc-origin)))
        calc(78 * (100vw / var(--width-pc-origin)));
    }
  }

  .InstructorList__title {
    margin-bottom: 41px;

    @media screen and (min-width: 768px) {
      margin-bottom: calc(60 * (100vw / var(--width-pc-origin)));
    }

    .InstructorList__titleText {
      font-size: 42px;
      font-weight: 700;
      line-height: 1.3;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        font-size: calc(56 * (100vw / var(--width-pc-origin)));
      }
    }
  }

  .InstructorList__contents {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media screen and (min-width: 768px) {
      gap: calc(30 * (100vw / var(--width-pc-origin)));
    }

    .InstructorList__item {
      width: calc(50% - 10px);

      @media screen and (min-width: 768px) {
        width: calc(25% - calc(22.5 * (100vw / var(--width-pc-origin))));
      }
    }

    .InstructorList__itemThumbnail {
      margin-bottom: 8px;
      text-align: center;

      @media screen and (min-width: 768px) {
        margin-bottom: calc(16 * (100vw / var(--width-pc-origin)));
      }

      img {
        width: 115px;
        height: 115px;
        border-radius: 50%;
        object-fit: cover;

        @media screen and (min-width: 768px) {
          width: calc(112 * (100vw / var(--width-pc-origin)));
          height: calc(112 * (100vw / var(--width-pc-origin)));
        }
      }
    }

    .InstructorList__itemName {
      margin-bottom: 8px;
      font-size: 20px;
      font-weight: 500;
      color: var(--color-blk);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(4 * (100vw / var(--width-pc-origin)));
        font-size: calc(20 * (100vw / var(--width-pc-origin)));
      }
    }

    .InstructorList__itemOneWord {
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 500;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(2 * (100vw / var(--width-pc-origin)));
        font-size: calc(14 * (100vw / var(--width-pc-origin)));
      }
    }

    .InstructorList__itemFreeListItem {
      @media screen and (min-width: 768px) {
        width: 100%;
      }
    }

    .InstructorList__itemFreeList {
      ul {
        @media screen and (min-width: 768px) {
          display: flex;
          gap: calc(10 * (100vw / var(--width-pc-origin)));
        }
      }

      .InstructorList__itemFreeTitle {
        margin-bottom: 4px;
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        background-color: var(--color-primary);

        @media screen and (min-width: 768px) {
          margin-bottom: calc(2 * (100vw / var(--width-pc-origin)));
          padding: calc(3 * (100vw / var(--width-pc-origin)))
            calc(10 * (100vw / var(--width-pc-origin)))
            calc(4 * (100vw / var(--width-pc-origin)));
          font-size: calc(14 * (100vw / var(--width-pc-origin)));
          text-align: center;
        }
      }

      .InstructorList__itemFreeText {
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 500;
        color: var(--color-blk);

        @media screen and (min-width: 768px) {
          margin-bottom: 0;

          font-size: calc(14 * (100vw / var(--width-pc-origin)));
        }
      }
    }
  }
}
