.Lesson {
  position: relative;
  padding: 0 20px 44px;

  @media screen and (min-width: 768px) {
    padding: 0;
  }

  .Lesson__inner {
    @media screen and (min-width: 768px) {
      position: relative;
      width: calc(1020 * (100vw / var(--width-pc-origin)));
      margin: 0 auto;
      padding: 0 calc(20 * (100vw / var(--width-pc-origin)))
        calc(44 * (100vw / var(--width-pc-origin)))
        calc(78 * (100vw / var(--width-pc-origin)));
    }
  }

  .Lesson__title {
    .Lesson__titleText {
      margin-bottom: 12px;
      font-size: 64px;
      font-weight: 700;
      line-height: 1.4;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(10 * (100vw / var(--width-pc-origin)));
        font-size: calc(64 * (100vw / var(--width-pc-origin)));
      }
    }

    .Lesson__subTitle {
      margin-bottom: 16px;
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      color: var(--color-blk);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(20 * (100vw / var(--width-pc-origin)));
        font-size: calc(24 * (100vw / var(--width-pc-origin)));
      }

      .Lesson__subTitleOrange {
        color: var(--color-primary);
      }
    }
  }

  .Lesson__summary {
    margin-bottom: 35px;
    font-size: 16px;
    color: var(--color-blk);
    line-height: 1.8;

    @media screen and (min-width: 768px) {
      margin-bottom: calc(48 * (100vw / var(--width-pc-origin)));
      font-size: calc(18 * (100vw / var(--width-pc-origin)));
    }
  }

  .Lesson__contents {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: calc(61 * (100vw / var(--width-pc-origin)));
    }
  }

  .Lesson__item {
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
      width: calc(50% - calc(30.5 * (100vw / var(--width-pc-origin))));
      margin-bottom: 0;
    }

    .Lesson__itemColumn {
      display: flex;
      gap: 12px 16px;
      align-items: center;
      margin-bottom: 12px;

      @media screen and (min-width: 768px) {
        gap: calc(16 * (100vw / var(--width-pc-origin)));
        margin-bottom: calc(12 * (100vw / var(--width-pc-origin)));
      }

      .Lesson__itemColumnItem {
        &:first-child {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          flex-grow: 0;
          flex-shrink: 0;
          width: 100px;
          height: 100px;
          border-radius: 6px;
          background-color: #f9f9f9;

          @media screen and (min-width: 768px) {
            width: calc(130 * (100vw / var(--width-pc-origin)));
            height: calc(130 * (100vw / var(--width-pc-origin)));
            border-radius: calc(16 * (100vw / var(--width-pc-origin)));
          }
        }

        &:last-child {
          flex-grow: 1;
        }
      }

      .Lesson__itemAge {
        font-size: 56px;
        font-weight: 700;
        color: var(--color-primary);
        line-height: 1;

        @media screen and (min-width: 768px) {
          font-size: calc(64 * (100vw / var(--width-pc-origin)));
        }
      }

      .Lesson__itemClass {
        font-size: 14px;
        font-weight: 700;
        color: var(--color-blk);
        line-height: 0.8;

        @media screen and (min-width: 768px) {
          font-size: calc(16 * (100vw / var(--width-pc-origin)));
        }
      }

      .Lesson__itemOverview {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.4;
        color: var(--color-blk);

        @media screen and (min-width: 768px) {
          font-size: calc(21 * (100vw / var(--width-pc-origin)));
        }

        .Lesson__itemOverviewOrange {
          color: var(--color-primary);
        }
      }
    }

    .Lesson__itemSummary {
      font-size: 16px;
      font-weight: 500;
      color: var(--color-blk);
      line-height: 1.8;

      @media screen and (min-width: 768px) {
        font-size: calc(16 * (100vw / var(--width-pc-origin)));
      }
    }
  }
}
