.LessonMain {
  .LessonMain__inner {
    position: relative;
    padding: 0 20px 24px;

    @media screen and (min-width: 768px) {
      width: calc(1020 * (100vw / var(--width-pc-origin)));
      margin: 0 auto;
      padding: calc(80 * (100vw / var(--width-pc-origin)))
        calc(70 * (100vw / var(--width-pc-origin))) 0
        calc(78 * (100vw / var(--width-pc-origin)));
    }
  }

  .LessonMain__title {
    .LessonMain__titleText {
      margin-bottom: 12px;
      font-size: 42px;
      font-weight: 700;
      line-height: 1.3;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(10 * (100vw / var(--width-pc-origin)));
        font-size: calc(64 * (100vw / var(--width-pc-origin)));
      }
    }

    .LessonMain__subTitle {
      margin-bottom: 12px;
      font-size: 28px;
      font-weight: 700;
      line-height: 1.6;
      color: var(--color-blk);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(20 * (100vw / var(--width-pc-origin)));
        font-size: calc(28 * (100vw / var(--width-pc-origin)));
      }

      .LessonMain__subTitleOrange {
        color: var(--color-primary);
      }
    }
  }

  .LessonMain__summary {
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--color-blk);

    @media screen and (min-width: 768px) {
      margin-bottom: calc(49 * (100vw / var(--width-pc-origin)));
      font-size: calc(18 * (100vw / var(--width-pc-origin)));
    }
  }

  .LessonMain__item {
    margin-bottom: 36px;
    font-family: "Zen Kaku Gothic New", sans-serif;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row-reverse;
      gap: calc(36 * (100vw / var(--width-pc-origin)));
      margin-bottom: calc(80 * (100vw / var(--width-pc-origin)));
    }

    &.LessonMain__item--reverse {
      @media screen and (min-width: 768px) {
        flex-direction: row;
      }
    }

    .LessonMain__itemThumbnail {
      position: relative;
      overflow: hidden;
      margin-bottom: 16px;

      @media screen and (min-width: 768px) {
        flex-shrink: 0;
        margin-bottom: 0;
      }

      img {
        width: 100%;
        height: 232px;
        border-radius: 6px;
        object-fit: cover;

        @media screen and (min-width: 768px) {
          height: calc(266 * (100vw / var(--width-pc-origin)));
          border-radius: calc(16 * (100vw / var(--width-pc-origin)));
        }
      }

      .LessonMain__itemThumbnailLabel {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 8px 16px 6px;
        border-radius: 0 6px 0 6px;
        color: var(--color-wht);
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        background-color: var(--color-primary);

        @media screen and (min-width: 768px) {
          display: none;
        }
      }
    }

    .LessonMain__itemLabel {
      display: none;
      margin-bottom: calc(22 * (100vw / var(--width-pc-origin)));
      padding: calc(6 * (100vw / var(--width-pc-origin)))
        calc(16 * (100vw / var(--width-pc-origin)))
        calc(8 * (100vw / var(--width-pc-origin)));
      color: var(--color-wht);
      font-size: calc(16 * (100vw / var(--width-pc-origin)));
      font-weight: 700;
      line-height: 1;
      background-color: var(--color-primary);
      line-height: 1;

      @media screen and (min-width: 768px) {
        display: inline-block;
      }
    }

    .LessonMain__itemTitle {
      .LessonMain__itemTitleText {
        margin-bottom: 3px;
        font-size: 28px;
        font-weight: bold;
        line-height: 1.2;
        color: var(--color-blk);

        @media screen and (min-width: 768px) {
          margin-bottom: calc(3 * (100vw / var(--width-pc-origin)));
          font-size: calc(28 * (100vw / var(--width-pc-origin)));
        }

        > span {
          color: var(--color-primary);
        }
      }

      .LessonMain__itemTitleAge {
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.8;
        color: var(--color-blk);

        @media screen and (min-width: 768px) {
          margin-bottom: calc(12 * (100vw / var(--width-pc-origin)));
          font-size: calc(16 * (100vw / var(--width-pc-origin)));
        }

        > span {
          color: var(--color-primary);
        }
      }
    }

    .LessonMain__itemSummary {
      margin-bottom: 8px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.8;
      color: var(--color-blk);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(10 * (100vw / var(--width-pc-origin)));
        font-size: calc(16 * (100vw / var(--width-pc-origin)));
      }
    }

    .LessonMain__itemNote {
      margin-bottom: 16px;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.8;
      color: var(--color-blk);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(16 * (100vw / var(--width-pc-origin)));
        font-size: calc(14 * (100vw / var(--width-pc-origin)));
      }
    }

    .LessonMain__itemCombined {
      padding: 20px 13px 23px;
      border-radius: 6px;
      background-color: var(--color-pacific-gray-b);

      @media screen and (min-width: 768px) {
        padding: calc(20 * (100vw / var(--width-pc-origin)));
        font-size: calc(8 * (100vw / var(--width-pc-origin)));
        border-radius: calc(8 * (100vw / var(--width-pc-origin)));
      }

      .LessonMain__itemCombinedTitle {
        margin-bottom: 6px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.8;
        color: var(--color-blk);

        @media screen and (min-width: 768px) {
          margin-bottom: calc(7 * (100vw / var(--width-pc-origin)));
          font-size: calc(14 * (100vw / var(--width-pc-origin)));
        }
      }

      li {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.8;
        color: var(--color-blk);

        @media screen and (min-width: 768px) {
          font-size: calc(14 * (100vw / var(--width-pc-origin)));
        }
      }
    }
  }
}
