.LifeSkills {
  .LifeSkills__inner {
    position: relative;
    padding: 0 20px 48px;

    @media screen and (min-width: 768px) {
      width: calc(1020 * (100vw / var(--width-pc-origin)));
      margin: 0 auto;
      padding: 0 calc(20 * (100vw / var(--width-pc-origin)))
        calc(100 * (100vw / var(--width-pc-origin)))
        calc(78 * (100vw / var(--width-pc-origin)));
    }
  }

  .LifeSkills__titleWrapper {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: calc(78 * (100vw / var(--width-pc-origin)));
      margin-bottom: calc(50 * (100vw / var(--width-pc-origin)));
    }
  }

  .LifeSkills__title {
    .LifeSkills__titleText {
      font-size: 42px;
      font-weight: 700;
      line-height: 1.4;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(10 * (100vw / var(--width-pc-origin)));
        font-size: calc(64 * (100vw / var(--width-pc-origin)));
      }
    }

    .LifeSkills__subTitle {
      margin-bottom: 16px;
      font-size: 36px;
      font-weight: 700;
      line-height: 1;
      color: var(--color-blk);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(27 * (100vw / var(--width-pc-origin)));
        font-size: calc(36 * (100vw / var(--width-pc-origin)));
      }
    }
  }

  .LifeSkills__summary {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-blk);
    line-height: 1.8;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      font-size: calc(18 * (100vw / var(--width-pc-origin)));
    }

    &.LifeSkills__summary--black {
      color: #000;
    }
  }

  .LifeSkills__thumbnail {
    overflow: hidden;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      flex-shrink: 0;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: 232px;
      border-radius: 6px;
      object-fit: cover;

      @media screen and (min-width: 768px) {
        width: calc(542 * (100vw / var(--width-pc-origin)));
        height: auto;
        border-radius: calc(16 * (100vw / var(--width-pc-origin)));
      }
    }
  }
}
