.LinksNavigation {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    width: calc(1020 * (100vw / var(--width-pc-origin)));
    margin: 0 auto;
    /* padding: 0 calc(70 * (100vw / var(--width-pc-origin))) 0
      calc(70 * (100vw / var(--width-pc-origin))); */
  }

  ul {
    display: flex;
    gap: calc(5 * (100vw / var(--width-pc-origin)));
    width: 100%;
  }

  .LinksNavigation__item {
    width: 33%;
    height: calc(390 * (100vw / var(--width-pc-origin)));
    background-repeat: no-repeat;
    background-size: cover;

    > a {
      box-sizing: border-box;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: calc(24 * (100vw / var(--width-pc-origin)))
        calc(24 * (100vw / var(--width-pc-origin)))
        calc(24 * (100vw / var(--width-pc-origin)))
        calc(42 * (100vw / var(--width-pc-origin)));
    }
  }

  .LinksNavigation__itemTitle {
    margin-bottom: calc(4 * (100vw / var(--width-pc-origin)));
    font-size: calc(36 * (100vw / var(--width-pc-origin)));
    font-weight: bold;
    color: var(--color-blk);
    line-height: 1;
  }

  .LinksNavigation__itemSubText {
    font-size: calc(20 * (100vw / var(--width-pc-origin)));
    font-weight: bold;
    color: var(--color-blk);
  }

  .LinksNavigation__itemIcon img {
    width: calc(48 * (100vw / var(--width-pc-origin)));
    height: calc(48 * (100vw / var(--width-pc-origin)));
  }
}
