.MainImage {
  position: relative;
  padding: 10px 20px;

  @media screen and (min-width: 768px) {
    width: calc(1020 * (100vw / var(--width-pc-origin)));
    margin: 0 auto;
    padding: calc(10 * (100vw / var(--width-pc-origin)))
      calc(20 * (100vw / var(--width-pc-origin)))
      calc(10 * (100vw / var(--width-pc-origin)))
      calc(78 * (100vw / var(--width-pc-origin)));
  }

  .MainImage__inner {
    position: relative;
    border: 6px solid var(--color-primary);
    border-radius: 15px;
  }

  .MainImageSlider {
    overflow: hidden;
    border-radius: 9px 9px 0 9px;

    @media screen and (min-width: 768px) {
      position: relative;
    }
  }

  .swiper {
    .swiper-slide img {
      width: 100%;
      height: 446px;
      object-fit: cover;

      @media screen and (min-width: 768px) {
        height: calc(446 * (100vw / var(--width-pc-origin)));
      }
    }
  }

  .MainImage__info {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
    padding: 0 23px 0 28px;
    color: var(--color-wht);
    background-color: var(--color-primary);

    @media screen and (min-width: 768px) {
      z-index: 2;
      position: absolute;
      bottom: 0;
      right: 0;
      width: calc(420 * (100vw / var(--width-pc-origin)));
      height: calc(72 * (100vw / var(--width-pc-origin)));
      border-radius: calc(16 * (100vw / var(--width-pc-origin))) 0 0 0;
    }
  }

  .MainImage__infoTitle {
    font-size: 18px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
      font-size: calc(18 * (100vw / var(--width-pc-origin)));
    }
  }

  /* インジケーター */
  .MainImage__progress {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      right: calc(-26 * (100vw / var(--width-pc-origin)));
      bottom: calc(-6 * (100vw / var(--width-pc-origin)));
    }
  }

  .progress {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 6px;
    height: 210px;

    @media screen and (min-width: 768px) {
      gap: calc(6 * (100vw / var(--width-pc-origin)));
      width: calc(6 * (100vw / var(--width-pc-origin)));
      height: calc(210 * (100vw / var(--width-pc-origin)));
    }

    span {
      position: relative;
      width: calc(6 * (100vw / var(--width-pc-origin)));
      height: calc(48 * (100vw / var(--width-pc-origin)));
      border-radius: calc(12 * (100vw / var(--width-pc-origin)));
      background-color: var(--color-pacific-orange-c);

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        border-radius: calc(12 * (100vw / var(--width-pc-origin)));
        background: var(--color-primary);
      }

      &.active {
        &:after {
          animation: expandIndicatorAnim 3000ms forwards linear;
        }
      }

      &.completed {
        &:after {
          animation: none;
          height: 100%;
        }
      }
    }
  }
}

@keyframes expandIndicatorAnim {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}
