.Message {
  overflow: hidden;
  position: relative;
  padding-top: 91px;

  @media screen and (min-width: 768px) {
    margin-top: calc(40 * (100vw / var(--width-pc-origin)));
    padding-top: 0;
    background-color: var(--color-primary);
  }

  .Message__inner {
    padding: 72px 20px 16px;
    background-color: var(--color-primary);

    @media screen and (min-width: 768px) {
      width: calc(1020 * (100vw / var(--width-pc-origin)));
      margin: 0 auto;
      padding: calc(120 * (100vw / var(--width-pc-origin)))
        calc(70 * (100vw / var(--width-pc-origin)))
        calc(89 * (100vw / var(--width-pc-origin)))
        calc(78 * (100vw / var(--width-pc-origin)));
      background-color: transparent;
    }
  }

  .Message__space {
    padding-top: calc(80 * (100vw / var(--width-pc-origin)));
    background-color: var(--color-wht);
  }

  .Message__stamp {
    position: absolute;
    top: 20px;
    left: 0;
    display: flex;
    gap: 50px;
    animation: infinity-scroll-left 80s infinite linear 0.5s both;

    @media screen and (min-width: 768px) {
      top: calc(20 * (100vw / var(--width-pc-origin)));
      gap: calc(50 * (100vw / var(--width-pc-origin)));
    }

    img {
      height: 120px;
      object-fit: cover;
      object-position: center;
    }
  }

  .Message__subText,
  .Message__title,
  .Message__summary {
    font-weight: 700;
    color: var(--color-wht);
  }

  .Message__subText {
    margin-bottom: 20px;
    font-size: 18px;

    @media screen and (min-width: 768px) {
      margin-bottom: calc(9 * (100vw / var(--width-pc-origin)));
      font-size: calc(24 * (100vw / var(--width-pc-origin)));
    }
  }

  .Message__title {
    margin-bottom: 32px;
    font-size: 27px;
    line-height: 1.6;

    @media screen and (min-width: 768px) {
      margin-bottom: calc(73 * (100vw / var(--width-pc-origin)));
      font-size: calc(48 * (100vw / var(--width-pc-origin)));
      letter-spacing: -3px;
    }
  }

  .Message__summary {
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      font-size: calc(16 * (100vw / var(--width-pc-origin)));
    }
  }

  .Message__titleWrapper {
    position: relative;
  }

  .Message__thumbnail {
    text-align: center;

    &.Message__thumbnail--pc {
      display: none;

      @media screen and (min-width: 768px) {
        position: absolute;
        top: 0;
        right: calc(-15 * (100vw / var(--width-pc-origin)));
        display: block;
      }

      img {
        @media screen and (min-width: 768px) {
          width: calc(450 * (100vw / var(--width-pc-origin)));
          height: calc(300 * (100vw / var(--width-pc-origin)));
        }
      }
    }

    &.Message__thumbnail--smp {
      display: block;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    img {
      margin-bottom: 1px;
    }
  }

  .Message__thumbnailCaption {
    font-size: 13px;
    color: var(--color-wht);
  }
}

@keyframes infinity-scroll-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
