.News {
  padding: 12px 20px;
  background-color: var(--color-pacific-gray-b);

  .News__title {
    margin-bottom: 14px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
    color: var(--color-blk);
  }

  .News__column {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
  }

  .News__columnItem {
    color: var(--color-blk);

    &:last-child {
      flex-grow: 1;
      margin-left: 10px;
    }
  }

  .News__thumbnail {
    overflow: hidden;
    border-radius: 12px 12px 0 12px;
    background-color: #d9d9d9;

    img {
      object-fit: cover;
    }
  }

  time {
    font-size: 13px;
  }

  p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 14px;
  }
}
