.PageTitleSection {
  margin-top: 36px;
  margin-bottom: 36px;
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    width: calc(1020 * (100vw / var(--width-pc-origin)));
    margin: 0 auto;
    padding: calc(14 * (100vw / var(--width-pc-origin)))
      calc(20 * (100vw / var(--width-pc-origin))) 0
      calc(78 * (100vw / var(--width-pc-origin)));
  }

  .PageTitleSection__title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.4;
    color: var(--color-primary);

    @media screen and (min-width: 768px) {
      font-size: calc(72 * (100vw / var(--width-pc-origin)));
      margin-bottom: calc(20 * (100vw / var(--width-pc-origin)));
    }

    &.PageTitleSection__title--small {
      font-size: 36px;

      @media screen and (min-width: 768px) {
        font-size: calc(36 * (100vw / var(--width-pc-origin)));
      }
    }
  }

  .PageTitleSection__titlePC {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  .PageTitleSection__titleSMP {
    display: block;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .PageTitleSection__summary {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    color: var(--color-primary);

    @media screen and (min-width: 768px) {
      font-size: calc(24 * (100vw / var(--width-pc-origin)));
    }

    &.PageTitleSection__summary--black {
      color: var(--color-blk);
    }
  }

  .PageTitleSection__subText {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
      font-size: calc(16 * (100vw / var(--width-pc-origin)));
      margin-bottom: calc(10 * (100vw / var(--width-pc-origin)));
    }
  }
}
