.PrivacyPolicyPage {
  margin: 0 auto;
  background-color: #fbfbf9;
}

.PrivacyPolicy {
  position: relative;
  padding: 41px 20px 76px;

  @media screen and (min-width: 768px) {
    width: 1083px;
    margin: 0 auto;
  }

  .PrivacyPolicy__title {
    .PrivacyPolicy__titleText {
      margin-bottom: 12px;
      font-size: 42px;
      font-weight: 700;
      line-height: 1.3;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(12 * (100vw / var(--width-pc-origin)));
        font-size: calc(42 * (100vw / var(--width-pc-origin)));
      }
    }

    .PrivacyPolicy__subTitle {
      margin-bottom: 24px;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.6;
      color: var(--color-blk);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(12 * (100vw / var(--width-pc-origin)));
        font-size: calc(14 * (100vw / var(--width-pc-origin)));
      }

      &.PrivacyPolicy__subTitle--beforeIcon {
        position: relative;
        padding-left: 20px;

        &::before {
          content: "";
          position: absolute;
          top: 7px;
          left: 0;
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: var(--color-primary);
        }

        @media screen and (min-width: 768px) {
          padding-left: calc(20 * (100vw / var(--width-pc-origin)));

          &::before {
            top: calc(7 * (100vw / var(--width-pc-origin)));
            width: calc(10 * (100vw / var(--width-pc-origin)));
            height: calc(10 * (100vw / var(--width-pc-origin)));
          }
        }
      }
    }
  }

  .PrivacyPolicy__summary {
    margin-bottom: 60px;
    font-size: 16px;
    color: var(--color-blk);
    line-height: 1.8;

    @media screen and (min-width: 768px) {
      margin-bottom: calc(60 * (100vw / var(--width-pc-origin)));
      font-size: calc(16 * (100vw / var(--width-pc-origin)));
    }
  }

  .PrivacyPolicy__item {
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
      margin-bottom: calc(60 * (100vw / var(--width-pc-origin)));
    }
  }

  .PrivacyPolicy__itemTitle {
    position: relative;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: 1px solid var(--color-blk);
    font-size: 16px;
    font-weight: bold;

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 0;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--color-primary);
    }

    @media screen and (min-width: 768px) {
      padding-bottom: calc(10 * (100vw / var(--width-pc-origin)));
      padding-left: calc(20 * (100vw / var(--width-pc-origin)));
      border-bottom: calc(1 * (100vw / var(--width-pc-origin))) solid
        var(--color-blk);
      font-size: calc(16 * (100vw / var(--width-pc-origin)));

      &::before {
        top: calc(6 * (100vw / var(--width-pc-origin)));
        width: calc(10 * (100vw / var(--width-pc-origin)));
        height: calc(10 * (100vw / var(--width-pc-origin)));
      }
    }
  }

  .PrivacyPolicy__itemInner {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.8;
    color: var(--color-blk);

    @media screen and (min-width: 768px) {
      margin-top: calc(20 * (100vw / var(--width-pc-origin)));
      font-size: calc(16 * (100vw / var(--width-pc-origin)));
    }
  }
}
