.RecruitMain {
  .RecruitMain__inner {
    position: relative;
    padding: 41px 20px 76px;

    @media screen and (min-width: 768px) {
      width: calc(1020 * (100vw / var(--width-pc-origin)));
      margin: 0 auto;
      padding: 0 0 0 calc(78 * (100vw / var(--width-pc-origin)));
    }
  }

  .RecruitMain__title {
    .RecruitMain__titleText {
      margin-bottom: 12px;
      font-size: 42px;
      font-weight: 700;
      line-height: 1.3;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(10 * (100vw / var(--width-pc-origin)));
        font-size: calc(64 * (100vw / var(--width-pc-origin)));
      }
    }

    .RecruitMain__subTitle {
      margin-bottom: 24px;
      font-size: 28px;
      font-weight: 700;
      line-height: 1.6;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(66 * (100vw / var(--width-pc-origin)));
        font-size: calc(28 * (100vw / var(--width-pc-origin)));
      }
    }
  }

  .RecruitMain__navigation {
    margin-bottom: 26px;

    @media screen and (min-width: 768px) {
      margin-bottom: calc(66 * (100vw / var(--width-pc-origin)));
    }

    > ul {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media screen and (min-width: 768px) {
        flex-direction: row;
      }
    }
  }

  .RecruitMain__navigationItem {
    width: 100%;

    > a {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 85px;
      padding: 14px 30px;
      border: 2px solid var(--color-primary);
      border-radius: 16px;
      color: var(--color-primary);

      &:hover,
      &:focus-visible {
        opacity: 0.6;
        text-decoration: none;
      }

      @media screen and (min-width: 768px) {
        height: calc(80 * (100vw / var(--width-pc-origin)));
        margin-bottom: calc(10 * (100vw / var(--width-pc-origin)));
        font-size: calc(64 * (100vw / var(--width-pc-origin)));
        border-width: calc(2 * (100vw / var(--width-pc-origin)));
        border-radius: calc(6 * (100vw / var(--width-pc-origin)));
        padding: calc(14 * (100vw / var(--width-pc-origin)))
          calc(26 * (100vw / var(--width-pc-origin)));
      }
    }

    .RecruitMain__navigationItemText {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.4;
      font-family: "Zen Kaku Gothic New", sans-serif;

      @media screen and (min-width: 768px) {
        font-size: calc(18 * (100vw / var(--width-pc-origin)));
      }

      br {
        @media screen and (min-width: 768px) {
          display: none;
        }
      }
    }

    .RecruitMain__navigationItemIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      color: var(--color-wht);
      line-height: 1;
      background-color: var(--color-primary);

      @media screen and (min-width: 768px) {
        width: calc(30 * (100vw / var(--width-pc-origin)));
        height: calc(30 * (100vw / var(--width-pc-origin)));
      }

      img {
        width: 30px;
        height: 30px;
        vertical-align: sub;
        rotate: 90deg;

        @media screen and (min-width: 768px) {
          width: calc(30 * (100vw / var(--width-pc-origin)));
          height: calc(30 * (100vw / var(--width-pc-origin)));
        }
      }
    }
  }

  .RecruitMain__info {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row-reverse;
      gap: calc(48 * (100vw / var(--width-pc-origin)));
    }
  }

  .RecruitMain__thumbnail {
    margin-bottom: 37px;

    @media screen and (min-width: 768px) {
      flex-shrink: 0;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: 234px;
      border-radius: 16px;
      object-fit: cover;

      @media screen and (min-width: 768px) {
        height: calc(290 * (100vw / var(--width-pc-origin)));
      }
    }
  }

  .RecruitMain__titleList {
    margin-bottom: 12px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-primary);

    @media screen and (min-width: 768px) {
      margin-bottom: calc(14 * (100vw / var(--width-pc-origin)));
      font-size: calc(28 * (100vw / var(--width-pc-origin)));
    }

    &.RecruitMain__titleList--small {
      font-size: 24px;
      text-align: center;

      @media screen and (min-width: 768px) {
        font-size: calc(24 * (100vw / var(--width-pc-origin)));
        text-align: left;
      }
    }
  }

  .RecruitMain__summary {
    margin-bottom: 48px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Zen Kaku Gothic New", sans-serif;
    color: var(--color-blk);
    line-height: 1.8;

    @media screen and (min-width: 768px) {
      margin-bottom: calc(72 * (100vw / var(--width-pc-origin)));
      font-size: calc(16 * (100vw / var(--width-pc-origin)));
    }
  }

  .RecruitMain__applicationRequirementsWrapper {
    @media screen and (min-width: 768px) {
      display: flex;
      gap: calc(82 * (100vw / var(--width-pc-origin)));
      margin-bottom: calc(120 * (100vw / var(--width-pc-origin)));
    }
  }

  .RecruitMain__applicationRequirements {
    &.RecruitMain__applicationRequirements--us {
      @media screen and (min-width: 768px) {
        width: 50%;
      }

      th {
        width: 36%;
      }

      td {
        width: 64%;
      }
    }

    table {
      width: 100%;
      margin-bottom: 20px;
      table-layout: fixed;
      border-collapse: separate;

      @media screen and (min-width: 768px) {
        margin-bottom: calc(35 * (100vw / var(--width-pc-origin)));
      }
    }

    th {
      width: 30%;
      padding: 30px 0 10px 16px;
      border-bottom: 3px solid var(--color-primary);
      font-size: 16px;
      font-weight: 500;
      line-height: 1.8;
      color: #222;

      @media screen and (min-width: 768px) {
        padding: calc(30 * (100vw / var(--width-pc-origin))) 0
          calc(10 * (100vw / var(--width-pc-origin)))
          calc(16 * (100vw / var(--width-pc-origin)));
        font-size: calc(16 * (100vw / var(--width-pc-origin)));
      }
    }

    td {
      width: 70%;
      padding: 30px 0 10px 36px;
      border-bottom: 1px solid #8d8d8d;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.8;
      color: #222;

      @media screen and (min-width: 768px) {
        padding: calc(30 * (100vw / var(--width-pc-origin))) 0
          calc(10 * (100vw / var(--width-pc-origin)))
          calc(36 * (100vw / var(--width-pc-origin)));
        font-size: calc(16 * (100vw / var(--width-pc-origin)));
      }
    }

    .RecruitMain__applicationRequirementsEntry {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 72px;
      margin-bottom: 24px;
      border-radius: 16px;
      font-size: 16px;
      font-weight: 700;
      color: var(--color-wht);
      background-color: var(--color-primary);

      &:hover,
      &:focus-visible {
        opacity: 0.6;
        text-decoration: none;
      }

      @media screen and (min-width: 768px) {
        height: calc(72 * (100vw / var(--width-pc-origin)));
        margin-bottom: 0;
        border-radius: calc(16 * (100vw / var(--width-pc-origin)));
        font-size: calc(16 * (100vw / var(--width-pc-origin)));
      }

      .RecruitMain__applicationRequirementsEntryIcon {
        position: absolute;
        top: calc(72px / 2 - 5px);
        right: 23px;
        width: 9px;
        height: 9px;
        border: 2px solid var(--color-wht);
        border-width: 2px 2px 0 0;
        line-height: 1;
        rotate: 45deg;

        @media screen and (min-width: 768px) {
          top: calc(
            calc(72 * (100vw / var(--width-pc-origin))) / 2 -
              calc(5 * (100vw / var(--width-pc-origin)))
          );
          right: calc(23 * (100vw / var(--width-pc-origin)));
          width: calc(9 * (100vw / var(--width-pc-origin)));
          height: calc(9 * (100vw / var(--width-pc-origin)));
        }
      }
    }
  }
}
