.SchoolMain {
  .SchoolMain__inner {
    position: relative;
    padding: 0 20px 24px;

    @media screen and (min-width: 768px) {
      width: calc(1020 * (100vw / var(--width-pc-origin)));
      margin: 0 auto;
      padding: 0 calc(70 * (100vw / var(--width-pc-origin)))
        calc(100 * (100vw / var(--width-pc-origin)))
        calc(78 * (100vw / var(--width-pc-origin)));
    }
  }

  .SchoolMain__title {
    .SchoolMain__titleText {
      margin-bottom: 24px;
      font-size: 42px;
      font-weight: 700;
      line-height: 1.3;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(10 * (100vw / var(--width-pc-origin)));
        font-size: calc(64 * (100vw / var(--width-pc-origin)));
      }
    }

    .SchoolMain__subTitle {
      margin-bottom: 24px;
      font-size: 28px;
      font-weight: 700;
      line-height: 1.6;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(20 * (100vw / var(--width-pc-origin)));
        font-size: calc(28 * (100vw / var(--width-pc-origin)));
      }
    }
  }

  .SchoolMain__summary {
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--color-blk);

    @media screen and (min-width: 768px) {
      margin-bottom: calc(56 * (100vw / var(--width-pc-origin)));
      font-size: calc(18 * (100vw / var(--width-pc-origin)));
    }
  }

  .SchoolMain__list {
    @media screen and (min-width: 768px) {
      display: flex;
      gap: calc(60 * (100vw / var(--width-pc-origin)));
    }
  }

  .SchoolMain__item {
    width: 100%;
    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }

    .SchoolMain__itemTitle {
      margin-bottom: 12px;
      font-size: 28px;
      font-weight: 700;
      line-height: 1.2;
      color: var(--color-blk);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(12 * (100vw / var(--width-pc-origin)));
        font-size: calc(28 * (100vw / var(--width-pc-origin)));
      }
    }

    .SchoolMain__itemAddress {
      margin-bottom: 12px;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.6;
      color: var(--color-blk);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(2 * (100vw / var(--width-pc-origin)));
        font-size: calc(12 * (100vw / var(--width-pc-origin)));
      }

      + .SchoolMain__itemAddress {
        @media screen and (min-width: 768px) {
          margin-bottom: calc(20 * (100vw / var(--width-pc-origin)));
        }
      }
    }

    .SchoolMain__itemMap {
      overflow: hidden;
      width: 100%;
      height: 189px;
      border-radius: 16px;
      background-color: var(--color-wht);

      @media screen and (min-width: 768px) {
        height: calc(260 * (100vw / var(--width-pc-origin)));
      }

      iframe {
        @media screen and (min-width: 768px) {
          height: calc(260 * (100vw / var(--width-pc-origin)));
        }
      }
    }
  }
}
