.Steam {
  position: relative;
  padding: 0 20px 32px;

  .Steam__title {
    .Steam__titleText {
      margin-bottom: 26px;
      font-size: 64px;
      font-weight: 700;
      line-height: 1.4;
      color: var(--color-primary);
    }

    .Steam__subTitle {
      margin-bottom: 16px;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.6;
      color: var(--color-blk);

      .Steam__subTitleOrange {
        color: var(--color-primary);
      }
    }
  }

  .Steam__summary,
  .Steam__Subject {
    margin-bottom: 24px;
    font-size: 16px;
    color: var(--color-blk);
    line-height: 1.8;
  }

  .Steam__image {
    margin: 0 -20px 12px;

    .Steam__imageMedia {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }

    .Steam__imageFullWidthImage {
      display: flex;
      width: 100vw;
      height: 120px;

      @media screen and (min-width: 768px) {
        display: none;
      }

      > span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        height: 100%;

        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(5) {
          background-color: var(--color-primary);
        }

        &:nth-child(2),
        &:nth-child(4) {
          background-color: var(--color-pacific-orange-b);
        }

        img {
          height: 86px;
        }
      }
    }
  }

  .Steam__Subject {
    margin-bottom: 2px;

    & span {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 2px;
      }
    }
  }
}
