.Steam {
  .Steam__inner {
    position: relative;
    padding: 0 20px 32px;

    @media screen and (min-width: 768px) {
      width: calc(1020 * (100vw / var(--width-pc-origin)));
      margin: 0 auto;
      padding: 0 calc(20 * (100vw / var(--width-pc-origin)))
        calc(16 * (100vw / var(--width-pc-origin)))
        calc(78 * (100vw / var(--width-pc-origin)));
    }
  }

  .Steam__title {
    .Steam__titleText {
      margin-bottom: 26px;
      font-size: 64px;
      font-weight: 700;
      line-height: 1.4;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(10 * (100vw / var(--width-pc-origin)));
        font-size: calc(64 * (100vw / var(--width-pc-origin)));
      }
    }

    .Steam__subTitle {
      margin-bottom: 16px;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.6;
      color: var(--color-blk);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(20 * (100vw / var(--width-pc-origin)));
        font-size: calc(34 * (100vw / var(--width-pc-origin)));
      }

      .Steam__subTitleOrange {
        color: var(--color-primary);
      }

      br {
        display: none;

        @media screen and (min-width: 768px) {
          display: block;
        }
      }
    }
  }

  .Steam__summary,
  .Steam__Subject {
    margin-bottom: 24px;
    font-size: 16px;
    color: var(--color-blk);
    line-height: 1.8;

    @media screen and (min-width: 768px) {
      margin-bottom: calc(48 * (100vw / var(--width-pc-origin)));
      font-size: calc(18 * (100vw / var(--width-pc-origin)));
    }
  }

  .Steam__image {
    margin: 0 -20px 12px;

    @media screen and (min-width: 768px) {
      margin: 0 0 calc(32 * (100vw / var(--width-pc-origin)));
    }

    .Steam__imageMedia {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }

    .Steam__imageFullWidthImage {
      display: flex;
      width: 100vw;
      height: 120px;

      @media screen and (min-width: 768px) {
        display: none;
      }

      > span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        height: 100%;

        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(5) {
          background-color: var(--color-primary);
        }

        &:nth-child(2),
        &:nth-child(4) {
          background-color: var(--color-pacific-orange-b);
        }

        img {
          height: 86px;
        }
      }
    }

    .Steam__imageMedia img {
      width: 100%;
    }
  }

  .Steam__Subject {
    margin-bottom: 2px;

    @media screen and (min-width: 768px) {
      margin-bottom: calc(2 * (100vw / var(--width-pc-origin)));
    }

    & span {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 2px;

        @media screen and (min-width: 768px) {
          margin-right: calc(4 * (100vw / var(--width-pc-origin)));
          font-size: calc(15 * (100vw / var(--width-pc-origin)));
        }
      }
    }
  }
}
