/*
 * 個別に作成したcssファイルを読み込む用
*/
@charset "UTF-8";
/*================================
Base
================================*/

/* css custom properties */
@import url("./root.css");

/* Reset */
@import url("./normalize.css");

/* ヘッダー */
@import url("./header.css");

/* フッター */
@import url("./footer.css");

/* ナビゲーション */
@import url("./navigation.css");

/* メインイメージ */
@import url("./mainImage.css");

/* News */
@import url("./news.css");

/* Recruit */
@import url("./recruit.css");

/* HelloWorld */
@import url("./helloWorld.css");

/* Blog */
@import url("./blog.css");

/* Voice */
@import url("./voice.css");

/* Message */
@import url("./message.css");

/* Our Features */
@import url("./ourFeatures.css");

/* Class */
@import url("./class.css");

/* ページ */
@import url("./pageTitle.css");

/* Lesson */
@import url("./lesson.css");

/* STEAM */
@import url("./steam.css");

/* Life Skills */
@import url("./lifeSkills.css");

/* Programing Curriculum */
@import url("./programingCurriculum.css");

/* Weekly Schedule */
@import url("./weeklySchedule.css");

/* LessonMain */
@import url("./lessonMain.css");

/* School */
@import url("./schoolMain.css");

/* Instructor List */
@import url("./instructorList.css");

/* RecruitMain */
@import url("./recruitMain.css");

/* cart-page */
@import url("./cart-page.css");

/* 特定商取引法に基づく表記 */
@import url("./notation.css");

/* Breadcrumbs */
@import url("./breadcrumbs.css");

/*================================
Reset CSS
================================*/
button {
  margin: 0;
  padding: 0;
  border: 0;
  appearance: none;
  background-color: transparent;
}

/*================================
Original CSS
================================*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Zen Kaku Gothic New", "Poppins", sans-serif;
}
