.Voice {
  position: relative;
  padding: 75px 20px 15px;

  @media screen and (min-width: 600px) {
    width: 1020px;
    margin: 0 auto;
    padding-left: 89px;
    padding-bottom: 100px;
  }

  .Voice__title {
    .Voice__titleText {
      margin-bottom: 12px;
      font-size: 42px;
      font-weight: 700;
      line-height: 1.4;
      color: var(--color-primary);

      @media screen and (min-width: 600px) {
        font-size: 64px;
      }
    }

    .Voice__subTitle {
      margin-bottom: 16px;
      font-size: 28px;
      font-weight: 700;
      line-height: 1;
      color: var(--color-blk);

      @media screen and (min-width: 600px) {
        font-size: 36px;
      }
    }
  }

  .Voice__summary {
    margin-bottom: 37px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    color: var(--color-blk);

    @media screen and (min-width: 600px) {
      font-size: 20px;
    }
  }

  .Voice__stamp {
    position: absolute;
    top: 0;
    right: 23px;
    width: 175px;
    height: 90px;

    @media screen and (min-width: 600px) {
      width: 389px;
      height: 200px;

      img {
        width: 389px;
        height: 200px;
      }
    }
  }

  .Voice__contents {
    @media screen and (min-width: 600px) {
      display: flex;
      flex-wrap: wrap;
      gap: 48px;
    }
  }

  .Voice__contentsItem {
    margin-bottom: 52px;

    @media screen and (min-width: 600px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(50% - 24px);
      margin-bottom: 0;
    }
  }

  .Voice__column {
    display: flex;
    color: var(--color-blk);
    margin-bottom: 8px;

    @media screen and (min-width: 600px) {
      align-items: center;
      gap: 24px;
      margin-bottom: 24px;
    }

    .Voice__columnItem {
      &:first-child {
        @media screen and (min-width: 600px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 116px;
        }
      }

      &:last-child {
        flex-grow: 1;
        margin-left: 20px;
      }

      & p {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        color: var(--color-primary);

        @media screen and (min-width: 600px) {
          font-size: 28px;
        }
      }
    }
  }

  .Voice__columnItemImage {
    overflow: hidden;
    border-radius: 50%;
    background-color: #d9d9d9;
  }

  .Voice__contentsSummary {
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
    color: #000;
  }

  .Voice__contentsTag {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-primary);

    @media screen and (min-width: 600px) {
      flex-grow: 0;
      font-size: 16px;
    }
  }
}
