.WeeklySchedule {
  .WeeklySchedule__inner {
    position: relative;
    padding: 0 20px 24px;

    @media screen and (min-width: 768px) {
      width: calc(1020 * (100vw / var(--width-pc-origin)));
      margin: 0 auto;
      padding: 0 calc(20 * (100vw / var(--width-pc-origin)))
        calc(80 * (100vw / var(--width-pc-origin)))
        calc(78 * (100vw / var(--width-pc-origin)));
    }
  }

  .WeeklySchedule__title {
    .WeeklySchedule__titleText {
      margin-bottom: 12px;
      font-size: 42px;
      font-weight: 700;
      line-height: 1.3;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(10 * (100vw / var(--width-pc-origin)));
        font-size: calc(64 * (100vw / var(--width-pc-origin)));
      }
    }

    .WeeklySchedule__subTitle {
      margin-bottom: 12px;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.6;
      color: var(--color-blk);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(27 * (100vw / var(--width-pc-origin)));
        font-size: calc(36 * (100vw / var(--width-pc-origin)));
      }
    }
  }

  .WeeklySchedule__summary {
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--color-blk);

    @media screen and (min-width: 768px) {
      margin-bottom: calc(59 * (100vw / var(--width-pc-origin)));
      font-size: calc(18 * (100vw / var(--width-pc-origin)));
    }
  }

  .WeeklySchedule__contents {
    &:has(#tab_1:checked) #tab_contents_1 {
      display: block;
    }

    &:has(#tab_2:checked) #tab_contents_2 {
      display: block;
    }
  }

  .WeeklySchedule__tabLabel {
    display: flex;
    gap: 4px;
    width: calc(100% + 20px * 2);
    margin: 0 -20px;
    padding: 0 5px;
    border-bottom: 2px solid var(--color-primary);

    @media screen and (min-width: 768px) {
      gap: calc(16 * (100vw / var(--width-pc-origin)));
      width: 100%;
      margin: 0;
      padding-left: calc(87 * (100vw / var(--width-pc-origin)));
      border-width: calc(8 * (100vw / var(--width-pc-origin)));
    }

    input[type="radio"] {
      display: none;
    }

    .WeeklySchedule__tabLabelButton {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      box-sizing: border-box;
      height: 48px;
      border: 2px solid var(--color-primary);
      border-bottom: 0;
      border-radius: 12px 12px 0 0;
      color: var(--color-primary);
      font-family: "Zen Kaku Gothic New", sans-serif;
      background-color: var(--color-wht);

      @media screen and (min-width: 768px) {
        flex: 0 0 auto;
        width: calc(250 * (100vw / var(--width-pc-origin)));
        height: calc(68 * (100vw / var(--width-pc-origin)));
        border-width: calc(2 * (100vw / var(--width-pc-origin)));
      }

      &:has(input:checked) {
        color: var(--color-wht);
        background-color: var(--color-primary);
      }

      label {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }

      .WeeklySchedule__tabLabelTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
      }

      .WeeklySchedule__tabLabelTitleText {
        font-size: 18px;
        font-weight: 700;

        @media screen and (min-width: 768px) {
          font-size: calc(18 * (100vw / var(--width-pc-origin)));
        }
      }

      .WeeklySchedule__tabLabelSubTitle {
        font-size: 15px;
        font-weight: 700;
        line-height: 1.2;

        @media screen and (min-width: 768px) {
          font-size: calc(15 * (100vw / var(--width-pc-origin)));
        }
      }
    }
  }

  .WeeklySchedule__tabContentsPanel {
    display: none;
    padding-top: 35px;

    @media screen and (min-width: 768px) {
      padding-top: calc(64 * (100vw / var(--width-pc-origin)));
      /* background-color: var(--color-pacific-gray-b); */
    }
  }

  .WeeklySchedule__tabContentsPanelTitle {
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
      margin-bottom: calc(36 * (100vw / var(--width-pc-origin)));
    }

    .WeeklySchedule__tabContentsPanelTitleText {
      margin-bottom: 8px;
      font-size: 32px;
      font-weight: 700;
      line-height: 1.2;
      color: var(--color-primary);

      @media screen and (min-width: 768px) {
        margin-bottom: calc(12 * (100vw / var(--width-pc-origin)));
        font-size: calc(48 * (100vw / var(--width-pc-origin)));
      }
    }

    .WeeklySchedule__tabContentsPanelSubText {
      margin-bottom: 8px;
      font-size: 20px;
      font-weight: 700;
      color: var(--color-blk);
      line-height: 1.4;

      @media screen and (min-width: 768px) {
        margin-bottom: calc(12 * (100vw / var(--width-pc-origin)));
        font-size: calc(20 * (100vw / var(--width-pc-origin)));
      }
    }

    .WeeklySchedule__tabContentsPanelSummary {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.6;

      @media screen and (min-width: 768px) {
        font-size: calc(18 * (100vw / var(--width-pc-origin)));
      }
    }
  }

  .WeeklySchedule__schedule {
    margin: 0 -20px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    @media screen and (min-width: 768px) {
      margin: 0;
    }

    table {
      min-width: 100%;
      table-layout: fixed;
      border-collapse: separate;

      @media screen and (min-width: 768px) {
        overflow: hidden;
        border-radius: calc(10 * (100vw / var(--width-pc-origin)));
      }
    }

    tr:last-child {
      th,
      td {
        border-bottom: 0 !important;
      }
    }

    th,
    td {
      vertical-align: middle;

      &:not(:first-child) {
        width: 162px;

        @media screen and (min-width: 768px) {
          width: calc(185 * (100vw / var(--width-pc-origin)));
        }
      }
    }

    .WeeklySchedule__scheduleFixed {
      z-index: 10;
      position: sticky;
      left: 0;
      box-sizing: border-box;
      width: 82px;
      border-bottom: 3px solid var(--color-wht);
      background-color: var(--color-primary);

      @media screen and (min-width: 768px) {
        width: calc(86 * (100vw / var(--width-pc-origin)));
        border-width: calc(1 * (100vw / var(--width-pc-origin)));
      }

      > span {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px 10px;
        color: var(--color-wht);

        @media screen and (min-width: 768px) {
          padding: calc(20 * (100vw / var(--width-pc-origin)))
            calc(10 * (100vw / var(--width-pc-origin)));
        }
      }

      &.WeeklySchedule__scheduleTop {
        min-width: auto;
        border-right: 1px solid #ffd7bd;
        border-bottom: 0;
      }
    }

    .WeeklySchedule__scheduleTop {
      min-width: 162px;
      height: 50px;
      background-color: var(--color-pacific-orange-b);

      @media screen and (min-width: 768px) {
        height: calc(60 * (100vw / var(--width-pc-origin)));
      }

      > span {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        height: 100%;
        padding: 0 24px;
        border: 1px solid #ffd7bd;
        border-width: 0 1px;
        color: var(--color-wht);
      }
    }

    .WeeklySchedule__scheduleTableData {
      box-sizing: border-box;
      padding: 11px 18px;
      border-bottom: 3px solid var(--color-primary);
      font-family: "Zen Kaku Gothic New", sans-serif;

      @media screen and (min-width: 768px) {
        padding: calc(15 * (100vw / var(--width-pc-origin)))
          calc(22 * (100vw / var(--width-pc-origin)));
        border-bottom: 1px solid var(--color-wht);
      }

      &.WeeklySchedule__scheduleTableData--single {
        background-color: #ffebe7;
      }

      &.WeeklySchedule__scheduleTableData--multi {
        background-color: #ffd7bd;
        border-right: 3px solid var(--color-primary);

        @media screen and (min-width: 768px) {
          border-right: 1px solid var(--color-wht);
          text-align: center;
        }

        &:last-child {
          border-right: 0;
        }
      }

      &.WeeklySchedule__scheduleTableData--left {
        @media screen and (min-width: 768px) {
          text-align: left;
        }
      }
    }

    .WeeklySchedule__scheduleTableDataInner {
      position: relative;
    }

    .WeeklySchedule__scheduleTableDataStamp {
      position: absolute;
      top: 0;
      right: 0;

      @media screen and (min-width: 768px) {
        top: calc(-8 * (100vw / var(--width-pc-origin)));
      }

      img {
        width: 168px;
        height: 72px;

        @media screen and (min-width: 768px) {
          width: auto;
          height: calc(90 * (100vw / var(--width-pc-origin)));
        }
      }
    }

    .WeeklySchedule__scheduleTableDataTitle {
      font-size: 18px;
      font-weight: 700;
      color: var(--color-blk);
      line-height: 1.6;

      @media screen and (min-width: 768px) {
        font-size: calc(18 * (100vw / var(--width-pc-origin)));
      }
    }

    .WeeklySchedule__scheduleTableDataText {
      white-space: nowrap;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.3;
      color: var(--color-blk);

      @media screen and (min-width: 768px) {
        font-size: calc(16 * (100vw / var(--width-pc-origin)));
      }
    }
  }

  .WeeklySchedule__scheduleDownLoadButton {
    height: 62px;
    margin-top: 40px;

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(61 * (100vw / var(--width-pc-origin)));
      margin-top: calc(48 * (100vw / var(--width-pc-origin)));
    }

    .WeeklySchedule__scheduleDownLoadButtonLink {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 2px solid var(--color-primary);
      border-radius: 16px;
      padding: 0 24px;
      font-size: 16px;
      font-weight: 700;
      color: var(--color-primary);

      &:hover,
      &:focus-visible {
        opacity: 0.6;
        text-decoration: none;
      }

      @media screen and (min-width: 768px) {
        width: calc(294 * (100vw / var(--width-pc-origin)));
        font-size: calc(16 * (100vw / var(--width-pc-origin)));
      }
    }

    img {
      height: 27px;
      margin-right: 9px;

      @media screen and (min-width: 768px) {
        height: calc(27 * (100vw / var(--width-pc-origin)));
        margin-right: calc(10 * (100vw / var(--width-pc-origin)));
      }
    }
  }
}
